<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjud.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.zjud.model.entity.Project">
            <id property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectTypeId" column="project_type_id" jdbcType="BIGINT"/>
            <result property="target" column="target" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,project_name,project_type_id,
        target,create_time
    </sql>
</mapper>
